
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* background: #715b3e; */
    background-color: #0b1315 ;
}
.main-container{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    background-color: #000;
}

/* Add font style to main headings */
header .logo{
    color:#c9ab81;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
/* Add border and background color to the navigation bar */
header .h-nav{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #715b3e;
    background: #91919166;

}
/* Add background color and font style to navigation links */
header .h-nav .nav-pills .nav-link{
    background-color: transparent !important;
    color:white;
    font-size: 18px;
    font-weight: 300;
    transition: all .2s ease-in-out;   
    font-family: 'Open Sans Condensed', sans-serif;
}

header .h-nav .nav-pills .nav-link i {
background-color: transparent;
color: white;	
}

/* Add background color to dropdown menu */
header .h-nav .nav-pills .nav-item ul{
    background-color: black;
    
}

/* Add font color and style to dropdown items */
header .h-nav .nav-pills .nav-item ul li a{
    color:white;
    font-size: 18px;
    font-weight: 300;
    transition: all .2s ease-in-out;   
    font-family: 'Open Sans Condensed', sans-serif;
}
/* Add color to highlight hovered dropdown item */
header .h-nav .nav-pills .nav-item ul li a:hover{
    background-color: grey;
}

/* Change font size of selected link */
header .h-nav .nav-pills .nav-link:hover,
header .h-nav .nav-pills .nav-item ul li a:hover{
    font-weight: 700;
}

footer{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #715b3e;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000;
}
footer address,a{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
}
footer a:hover{
    color:#fff;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 576px) {
    header .h-nav .nav-pills .nav-link.desk{
        display: none;
    }
    header .h-nav .nav-pills .nav-link.mob{
        display: block;
    }
}