<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <p class="speech-balloon from-left nes-pointer" id="balloon1">
        Hello citizen! <br>
        With the increased number of Superhuman acts, we are asking you
        to help us catalogue the events! <br>
</p>
<p class="speech-balloon from-left nes-pointer" id="balloon2">
        Here, you will be able to add, edit, and delete
        Superheroes! Superpowers! Organizations! Locations! And last but not least,
        your very own Superhero Sightings! <br>
</p>
<p class="speech-balloon from-left nes-pointer" id="balloon3">
        Below you will find the last 10 sightings reported.
        We here at the Hero Education and Relationship Organization, HERO,
        are looking forward to seeing who you see! <br>
</p>
    </body>
</html>
